$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-spinner4: "\e97d";
$icon-spinner1: "\e984";
$icon-search: "\e986";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-triangle-down: "\ea1c";
$icon-ctrl-down: "\ea50";

