<div class="wrapper">
    <div class="search">
        <ui-input 
            type="search" 
            palceholder="Поиск" 
            [formControl]="searchFormControl">
        </ui-input>
    </div>
    <ng-container *ngTemplateOutlet="moviesList.length ? results : noResults"></ng-container>

</div>

<ng-template #results>
    <div class="table">
        <div class="head-row">
            <div class="name" (click)="setOrder('name')">Название
                <span class="icon-triangle-down"
                *ngIf="sortInfo.field=='name'"
                [class.up]="sortInfo.field=='name' && sortInfo.order=='asc'">
                </span> 
            </div>
            <div class="year"
            (click)="setOrder('year')">
                Год
                <span class="icon-triangle-down"
                    *ngIf="sortInfo.field=='year'"
                    [class.up]="sortInfo.field=='year' && sortInfo.order=='asc'">
                </span> 
            </div>
        </div>
        <div class="item" *ngFor="let movie of moviesList">
            <div class="name">
                <a  target="__blank"
                    href="https://www.imdb.com/title/tt{{movie.id.toString().padStart(7, '0')}}">
                    {{movie.name}}
                </a>
            </div>
            <div class="year">{{movie.year}}</div>
        </div>
    </div>
</ng-template>

<ng-template #noResults>
    <h2>
        Ничего не найдено
    </h2>
</ng-template>