.find {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

movies-list {
    padding: 0 10%;
}